{% extends 'base.html.twig' %}

{% block title %}New Sessionvaloracion{% endblock %}

{% block body %}
    <h1>Create new Sessionvaloracion</h1>

    {{ include('sessionvaloracion/_form.html.twig') }}

    <a href="{{ path('app_sessionvaloracion_index') }}">back to list</a>
{% endblock %}
